<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8MQHGrPrYl43A_xsisVXrBXuT4PRjKDY</string>
	<key>GCM_SENDER_ID</key>
	<string>1074085558838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joyying.firstprogramming</string>
	<key>PROJECT_ID</key>
	<string>cs4261-first-programming-e1987</string>
	<key>STORAGE_BUCKET</key>
	<string>cs4261-first-programming-e1987.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074085558838:ios:c49706eb76eefdf172f697</string>
</dict>
</plist>